/* *  {
    border: 3px solid red;
  } */

  html {
    box-sizing: border-box;
    font-size: 16px;
  }

body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
    "header header header"
    ".      main   ."
    "footer footer footer";
    
}
/* header */

.header{
    grid-area: header;
    display: grid;
    justify-content: center;
    background: palevioletred;
}

.navigation {
list-style: none;
background: mediumspringgreen;

}

/* main */
.main {
grid-area: main;
display: grid;
grid-auto-flow: row;
grid-template-areas: 
"hero"
"featured"
"top-stories" 
"special-edition" 
"most-recent" 
"highlight";
/*background: yellow;*/
}
.hero {
grid-area: hero;
}

.highlight {
grid-area: highlight;

}

.featured {
grid-area: featured;
}
.top-stories{
grid-area: top-stories;
}    
.special-edition {
grid-area: special-edition;
}
.most-recent{
    grid-area: most-recent;
}

.footer{
    grid-area: footer;
    background: orange;
}

/*@media screen and (min-width: 50em) {
  body {
      
  }
.main{
  grid-area: main;
display: grid;
grid-auto-flow: column;
grid-template-areas: 
"hero           hero            hero            highlight"
"hero           hero            hero            featured"
"top-stories    special-edition special-edition feautured"
"top-stories    most-recent     most-recent     most-recent";

}

.hero {
grid-area: hero;
}

.highlight {
grid-area: highlight;

}

.featured {
grid-area: featured;
}
.top-stories{
grid-area: top-stories;
}    
.special-edition {
grid-area: special-edition;
}
.most-recent{
    grid-area: most-recent;
}

.footer{
    grid-area: footer;
}